@font-face {
  font-family: "iconfont"; /* Project id 3381169 */
  src: url('iconfont.woff2?t=1653836199893') format('woff2'),
       url('iconfont.woff?t=1653836199893') format('woff'),
       url('iconfont.ttf?t=1653836199893') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_xiaohuangguan-copy:before {
  content: "\f7e7";
}

.icon-zuijinbofang:before {
  content: "\e7c9";
}

.icon-remen:before {
  content: "\e6f0";
}

.icon-xingebang:before {
  content: "\f7e6";
}

.icon-luyinjishouyinjidiantai:before {
  content: "\e625";
}

.icon-zanting_huaban-copy:before {
  content: "\ed51";
}

.icon-xiaosanjiao:before {
  content: "\e631";
}

.icon-dianshunxu:before {
  content: "\e7d9";
}

.icon-suijisenlin:before {
  content: "\e60e";
}

.icon-refresh:before {
  content: "\ed50";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-24gl-playlistMusic2:before {
  content: "\ea71";
}

.icon-paixingbang:before {
  content: "\e7bd";
}

.icon-meirituijian-:before {
  content: "\e652";
}

.icon-shipin:before {
  content: "\e61e";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-sirenFM_52:before {
  content: "\e644";
}

.icon-bars:before {
  content: "\e951";
}

